 
 .body {
    margin: 0;
    padding: 0;
    background-image: url('../images/background-img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
 }

 .logo img {
    float: left;
    height: 100px;
    width: 100px;
 }

 .top-nav {
    float: right;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 900px;
    overflow: hidden;

 }

 .nav-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.destinations {
    float: left;
    padding: 50px;
    padding-top: 100px;

}

.destination-img {
    width: 200px;
    height: 200px;
}

